# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies
node_modules
node_modules/

# Build output
dist
dist-ssr

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# Local env files
*.local

# macOS
.DS_Store

# Tauri
/src-tauri/target/
